h1 {
    text-align: center;
    color: rgb(96, 0, 128);
    background-color: yellow;
    padding: 10px;
}
#nav {
    font-size: 20px;
    display: flex;
    justify-content: space-around;
}
#nav a {
    color: rgb(96, 0, 128);
    text-decoration: none;
    padding: 5px 10px;
    font-weight: bold;
    background-color: aqua;
    border-radius: 3px;
    transition: 1s;
}
hr {
    margin-top: 10px;
    border: 1px solid black;
}
#nav a:hover {
    background-color: rgb(36, 83, 154);
    transition: 1s;
}